# ------------------------------
NEXT_PUBLIC_ENV=PROD

# API URL, do not append a trailing slash
NEXT_PUBLIC_API_URL=http://localhost:3000

# MongoDB - Dev
MONGODB_URI=

# Secret for encrypting user login credentials
USER_SECRET=

# Secret for encrypting JWT tokens
JWT_SECRET=

# Secret for encrypting user notes
NOTE_SECRET=

# Secret for Google Email with nodemailer
EMAIL_FROM=
EMAIL_PASS=
